<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" ngModel name="name" #name="ngModel" required>
          <p style="color: red" *ngIf="name.invalid && name.touched">Please enter name!</p>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" ngModel name="amount" #amount="ngModel" pattern="^[1-9]+[0-9]*$" required>
          <p style="color: red" *ngIf="amount.invalid && amount.touched">Please enter positive amount!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" [disabled]="f.invalid" class="btn btn-success mr-1">{{ editMode ? 'Update' : 'Add' }}</button>
          <button type="button" (click)="onDelete()" *ngIf="editMode" class="btn btn-danger mr-1">Delete</button>
          <button type="button" (click)="onClear()" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>